@font-face {
  font-family: "Oswald";
  src: local("Oswald"), url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Oswald";
  src: local("Oswald"), url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

body {
  margin: 0 auto;
  padding: 0;
  max-width: 1440px;
  overflow-x: hidden; }
  @media (min-width: 768px) {
    body {
      line-height: 24px; } }

.button {
  color: #FFFFFF;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s; }

@media (max-width: 767px) {
  .box-mobile {
    min-width: 320px;
    margin: 0 auto;
    padding: 0 20px; } }

.header {
  background-color: #F5F5F5; }

.nav {
  display: flex;
  justify-content: space-between;
  padding: 42px 32px 0; }
  .nav__list {
    display: flex;
    align-items: center;
    gap: 32px; }
  .nav__link {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500; }
  .nav__logo-svg {
    margin-right: 4px; }

.search__wrapper {
  width: 70%;
  margin: 65px auto 0;
  padding-bottom: 80px; }

.search__list {
  background-color: #FFFFFF;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr -webkit-max-content;
  grid-template-columns: 1fr 1fr 1fr 1fr max-content;
  align-items: center;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.08); }

.search__item {
  padding: 32px 20px 32px 32px;
  border-right: 1px solid #EAEAEA; }
  .search__item_search {
    min-width: auto; }

.search__item-button {
  width: 100px;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center; }

.search__button {
  width: 56px;
  height: 56px;
  border: none;
  border-radius: 50%;
  background-color: #FA4C25; }

.main__title {
  font-size: 48px;
  line-height: 56px;
  font-weight: 900;
  text-align: center;
  margin-top: 52px; }

/*# sourceMappingURL=style.css.map */
