.about-header {
    padding: 0 10%;

    &__back {
        display: inline-flex;
        align-items: center;
        gap: $spacing-m;
        margin: $spacing-2l 0 $spacing-2xl;
        cursor: pointer;
    }

    &__button-back {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: $bg-white;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__title {
        max-width: 705px;
        margin-bottom: $spacing-xl;
    }

    &__row {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-bottom: $spacing-2xl;
    }

    &__text {
        @include P-12;
        color: $text-tertiary;
        margin-bottom: $spacing-m;
    }

    &__add-info {
        color: $text-tertiary;

        &_when {
            margin-top: $spacing-xs;
        }

        &_where {
            margin-left: $spacing-s;
        }

        &_free {
            margin-left: $spacing-s;
        }
    }

    &__amount {
        position: relative;
        left: 84px;
        top: 6px;
    }

    &__register {
        display: flex;
        align-items: center;
        gap: $spacing-l;
        margin-bottom: 60px;
    }
}