.authorization-footer {
    margin-top: auto;
    padding: 0 10% $spacing-3xl;

    @media (max-width: $adaptive-width) {
        padding: 0 $spacing-2l $spacing-xl;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: $spacing-xl;

        @media (max-width: $adaptive-width) {
            flex-direction: column;
            align-items: flex-start;
            margin-top: 60px;
            margin-bottom: $spacing-2xl;
        }
    }
    
    &__info {
        display: flex;
        align-items: center;
        gap: $spacing-xl;

        @media (max-width: $adaptive-width) {
            flex-direction: column;
            align-items: flex-start;
            gap: $spacing-l;
            margin-bottom: $spacing-xl;
        }
    }

    &__descr {
        color: $text-secondary;
        opacity: 0.5;
    }

    &__copyright {
        color: $text-primary;
        opacity: 0.5;
    }

    &__support-wrapper {
        display: flex;
        flex-direction: column;
        margin-left: 48px;

        @media (max-width: $adaptive-width) {
            margin: 0;
        }
    }

    &__tel {
        color: $text-secondary;
    }

    &__icon {
        color: $text-tertiary;
    }

    &__social {
        display: flex;

        @media (max-width: $adaptive-width) {
            flex-direction: column;
            align-items: flex-start;
            gap: $spacing-xl;
        }
    }

    &__list {
        display: flex;
        gap: $spacing-s;
    }
}