.competition {
    padding-bottom: 126px;

    @media (max-width: $adaptive-width) {
        padding-bottom: 88px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: $spacing-l;

        @media (max-width: $adaptive-width) {
            gap: $spacing-xl;
        }
    }

    &__container {
        border: 1px solid $line;
        display: flex;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.04);
        border-radius: 16px;

        @media (max-width: $adaptive-width) {
            flex-direction: column;
            border-radius: 8px;
        }
    }

    &__info {
        display: flex;
        align-items: center;

        @media (max-width: $adaptive-width) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__photo {
        min-width: 252px;
        height: 215px;
        border: 1px solid $line;
        background-color: #E0F4FF;
        border-radius: 8px;
        margin: $spacing-l $spacing-2xl $spacing-l $spacing-l;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: $adaptive-width) {
            min-width: 100%;
            height: 147px;
            margin: 0;
            border-radius: 8px 8px 0 0;
            border: none;
            border-bottom: 1px solid $line;
        }
    }

    &__title {
        margin-bottom: $spacing-m;
        margin-top: $spacing-2xl;

        @media (max-width: $adaptive-width) {
            margin: 0 0 $spacing-s 0;
        }
    }

    &__place {
        @include P-14-medium;
        color: $text-tertiary;
        margin-bottom: $spacing-xl;

        @media (max-width: $adaptive-width) {
            display: none;
        }
    }

    &__descr {
        padding-right: $spacing-l;

        @media (max-width: $adaptive-width) {
            padding: $spacing-l $spacing-l $spacing-xl;
        }
    }

    &__subject {
        @include P-16;
        color: $text-secondary;
        margin-bottom: $spacing-2xl;
    }

    &__aside {
        padding: $spacing-2xl 62px $spacing-2l $spacing-xl;
        border-left: 1px solid $line;
        margin-left: auto;
        min-width: 243px;

        @media (max-width: $adaptive-width) {
            padding: $spacing-xl $spacing-l $spacing-l;
            margin: 0;
            border-top: 1px solid $line;
            border-left: none;
        }
    }

    &__date {
        margin-bottom: $spacing-xs;
    }

    &__to {
        @include P-12;
        color: $text-tertiary;
        margin-bottom: $spacing-2xl;

        @media (max-width: $adaptive-width) {
            margin-bottom: $spacing-l;
        }
    }

    &__pay {
        @include P-14-medium;
        margin: $spacing-s 0 $spacing-xl $spacing-m;
        color: $text-secondary;

        @media (max-width: $adaptive-width) {
            margin: $spacing-s 0 $spacing-xl 0;
            text-align: center;
        }
    }

    &__avatar-block {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: $bg-white;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__review-wrapper {
        padding-bottom: $spacing-2l;
    }

    &__review {
        position: relative;
        z-index: 1;
    }

    &__avatar-block {
        position: absolute;
        top: 0;
        z-index: 1;

        &_second {
            left: 20px;
            z-index: 0;
        }

        &_third {
            left: 40px;
            z-index: -1;
        }
    }
    
    &__amount {
        @include P-12;
        color: $text-tertiary;
        position: relative;
        left: 84px;
        top: 6px;
    }

    &__show-more {
        margin-top: $spacing-3xl;
        display: flex;
        align-items: center;
        gap: $spacing-xl;
    }

    &__show-more-text {
        color: $text-tertiary;
    }
}

@media (max-width: $adaptive-width) {
    .competition__btn {
        width: 100%;
    }
}