.filters {
    display: flex;
    align-items: center;
    padding: 0 10%;
    margin: $spacing-2l 0;
    cursor: pointer;

    @media (max-width: $adaptive-width) {
        display: none;
    }

    &__title {
        @include P-14-medium;
    }
}