.form {
    margin: 88px auto 0;

    @media (max-width: $adaptive-width) {
        margin: 52px 0 0 0;
    }

    &__wrapper {
        width: 360px;
        padding: $spacing-3xl $spacing-2xl $spacing-xl;
        background-color: $bg-white;
        border-radius: 16px;

        @media (max-width: $adaptive-width) {
            width: auto;
            padding: $spacing-2xl $spacing-2l $spacing-3xl;
        }

        &_registration {
            width: 740px;
        }
    }

    &__row {
        display: flex;
        flex-direction: column;
        gap: $spacing-xs;
        margin-bottom: $spacing-l;
    }

    &__social-list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: $spacing-s;
        padding: $spacing-l 0 $spacing-xl;
        position: relative;

        @media (max-width: $adaptive-width) {
            padding: $spacing-s 0 $spacing-2xl;
        }

        &_registration {
            padding: $spacing-2l 0 28px;
            justify-content: flex-start;
        }
    }

    &__social-wrapper {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            border: 1px solid $line;
            width: 100%;
            bottom: 0;
        }
    }

    &__social-icon {
        border-radius: 50%;
    }

    &__way {
        width: 55px;
        color: $text-tertiary;
        background-color: $bg-white;
        text-align: center;
        position: absolute;
        left: 50%;
        bottom: -7px;
        transform: translate(-50%, 0);
        z-index: 1;
    }

    &__data {
        padding-top: $spacing-xl;

        @media (max-width: $adaptive-width) {
            padding-top: $spacing-2xl;
        }
    }

    &__password {
        color: $text-tertiary;
    }

    &__actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: $spacing-xl;

        @media (max-width: $adaptive-width) {
            padding-top: $spacing-s;
        }
    }

    &__registration {
        padding: $spacing-xl $spacing-2xl 0;
        border-top: 1px solid $line;
        margin: 0 -#{$spacing-2xl};

        @media (max-width: $adaptive-width) {
            padding: $spacing-xl $spacing-2l 0;
            margin: 0 -#{$spacing-2l};
        }
    }

    &__btn-registration {
        width: 100%;
    }
}