.nav {
  display: flex;
  justify-content: space-between;
  padding: 42px 10% 0;
  gap: $spacing-2l;

  @media (max-width: $adaptive-width) {
    padding: 0;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-2xl;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 32px;

    &_actions {
      gap: 24px;
      align-items: baseline;

      @media (max-width: $adaptive-width) {
        gap: 20px;
      }
    }
  }

  &__item {
    cursor: pointer;
    transition: color 0.2s ease-in-out;
    position: relative;

    &:hover,
    &:focus,
    &:active {
      color: $secondary;
    }

    &_is-active {
      &::before {
        position: absolute;
        content: "";
        height: 2px;
        width: 100%;
        background-color: $secondary;
        top: -52px;
      }

      .nav__link {
        color: $secondary;
      }
    }

    &_add {
      display: flex;
      align-items: center;
      gap: $spacing-s;

      &:hover {
        .nav__add {
          background-color: $secondary;
        }
      }
    }

    &_user {
      display: flex;
      align-items: center;
      gap: $spacing-xs;
    }

    &_burger {
      display: none;

      @media (max-width: $adaptive-width) {
        display: block;
      }
    }
  }

  &__link {
    @include P-14-medium;
    color: $primary;

    &:visited {
      color: $primary;
    }
  }

  &__logo-svg {
    margin-right: 4px;
  }

  &__add {
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
    background-color: $primary;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease-in-out;
  }
}

@media (max-width: $adaptive-width) {
  .nav__list_hidden {
    display: none;
  }
}