.registration {
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__data {
        padding-top: 42px;
    }

    &__row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: $spacing-l;
    }

    &__col {
        display: flex;
        flex-direction: column;
    }
}