.results {
    &__date {
        margin-bottom: $spacing-s;
    }

    &__icon-block {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid $line;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: $spacing-s;
        margin: $spacing-xl 0 $spacing-2l;
    }
}