.search {

    &__wrapper {
        width: 74%;
        margin: 65px auto 0;
        padding-bottom: 80px;

        @media (max-width: $adaptive-width) {
            width: 100%;
            margin-top: $spacing-2xl;
            padding: 0;
        }

        &_competitions {
            width: auto;
            padding: 0 10%;
            margin: 28px 0 0 0;

            @media (max-width: $adaptive-width) {
                padding: 0;
                margin: $spacing-l 0 0 0;
            }
        }
    }

    &__list {
        background-color: $bg-white;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr max-content;
        align-items: center;
        box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.08);
        border-radius: 4px;

        @media (max-width: $adaptive-width) {
            display: flex;
            flex-direction: column;
        }
    }

    &__item {
        height: 100%;
        padding: $spacing-2xl $spacing-2l $spacing-2xl $spacing-2xl;
        border-right: 1px solid $line;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: $adaptive-width) {
            padding: $spacing-m $spacing-2l;
            border-right: none;
            border-bottom: 1px solid $line;
            width: 100%;
            text-align: center;

            &:nth-child(5) {
                border-bottom: none;
            }
        }

        &_search {
            min-width: auto;
        }

        &_filter {
            display: none;

            @media (max-width: $adaptive-width) {
                display: flex;
            }

        }
    }

    &__filter {
        @media (max-width: $adaptive-width) {
            display: flex;
            align-items: center;
            @include P-14-medium;
        }
    }

    &__item-button {
        width: 100px;
        height: 85px;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: $adaptive-width) {
            width: 100%;
            height: auto;
            padding: $spacing-2l;
        }
    }

    &__button {
        width: 56px;
        height: 56px;
        border: none;
        border-radius: 50%;
        background-color: $secondary;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        @media (max-width: $adaptive-width) {
            width: 100%;
            height: 44px;
            border-radius: 24px;
        }
    }

    &__button-text {
        display: none;

        @media (max-width: $adaptive-width) {
            @include P-14-medium;
            color: $bg-white;
            display: block;
            margin-left: $spacing-s;
        }
    }
}